@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 80px;
  border-bottom: 2px solid rgb(198, 192, 170);
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a{
  text-decoration: none;
}

nav a{
  color: black;
  /* padding: 8px 15px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
}

nav .a-connexion{
  border-radius: 50px;
  border: 1px solid #2d96c7;
  color: #2d96c7;
  padding: 10px 25px;

}

nav .a-inscription{
  border-radius: 50px;
  border: 1px solid #2d96c7;
  color: #fff;
  background-color: #2d96c7;
  padding: 10px 25px;
}


/* header */
header{
  display: flex;
  height: 370px;
  overflow: hidden;
  justify-content: space-around;
  padding: 0 50px;
}

.head-art-1{
  /* width: 50%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.main-text{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.second-text{
  font-size: 25px;
  font-weight: bold;
  color: #ef5466;
  margin: 10px 10px 15px 0;
}


header a{
  border-radius: 50px;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 25px;
  font-size: 12px;
}

.deezer-premium{
  border: 1px solid transparent;
  color: #fff;
  background-color: #ef5466;
}

.deezer-free{
  border: 2px solid #4a4a4a;
  color: #4a4a4a;
  margin-left: 15px;
}

.header-a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* main */

/* deezer description */


.sec-deezer-description{
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.article-mobile{
  /* justify-content: flex-end; */
  margin: 20px 0 0 150px;
}

.article-des{
  margin: 0 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
}

.topic-des{
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #32323d;
}

.article-des article{
  width: 45%;
  margin: 20px 0;
  text-align: left;
}

.semi-topic-des{
  color: #32323d;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}


/* section everyday */
.sec-everyday{
  height: 180px;
  background-color: #ef5466;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.everyday-svg{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.svg-img{
  margin-left: 20px;
}

.everyday-des{
  width: 50%;
}

.everyday-topic{
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 0px 0 26px;
}

.everyday-des p{
  color: #f9f9f9;
  padding-right: 75px;
}

/* everyday end */

/* profit deezer */

.sec-profit h2{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 120px 40px 40px;
}

.profit-banners{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.banner{
  width: 300px;
  height: 300px;
  background-color: white;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 3px rgb(183, 182, 182);
}

.banners-topic{
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px ;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.premium{
  background-color: rgb(62, 150, 244);
  margin: 0 10px;
  box-shadow: none;
  color: white;
}

.premium::before{
  content: attr("slkdfhj");
  padding: -50px;
}

.banners-price{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}


p.banners-offer-notice{
  font-size: 10px;
  text-align: center;
  padding: 20px 200px;
}


/* profit deezer end */

/* announces */

article.announces{
  background-color: #f0ececc1;
  margin-top: 10px;
  padding: 25px 150px 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announces-topics{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.announces-text{
  font-size: 18px;
}

.red-text{
  color: red;
}

.a-announces{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 40px;
}

.annuel-plus{
  color: #2d96c8;
  font-size: 12px;
  font-weight: bold;
}
/* .announces-container{
  display: flex;
  justify-content: space-between;
} */




/* announces end */



/* footer */
footer{
  background-color: black;
  padding-bottom: 30px;
}

.sec-application{
  display: flex;
  justify-content: center;
}

.google-play{
  margin-top: 33px;
}

.sec-footer-main{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.sec-footer-main a{
  color: #f9f9f9;
  margin-bottom: 15px;
}

.deezer-f, .explorer-f, .who-f, .legal-f{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a.f-topics{
  color: #57555f;
  margin-bottom: 20px;
}

.sec-last-f{
  display: flex;
  justify-content: space-around;
  margin: 80px 50px 100px;
}

.social a{
  margin: 15px;
}

