@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 80px;
  border-bottom: 2px solid rgb(198, 192, 170);
}

.burger{
  display: none;
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* trans */
}

a{
  text-decoration: none;
}

nav a{
  color: black;
  /* padding: 8px 15px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
}

nav .a-connexion{
  border-radius: 50px;
  border: 1px solid #2d96c7;
  color: #2d96c7;
  padding: 10px 25px;

}

nav .a-inscription{
  border-radius: 50px;
  border: 1px solid #2d96c7;
  color: #fff;
  background-color: #2d96c7;
  padding: 10px 25px;
}


/* header */
header{
  display: flex;
  height: 370px;
  overflow: hidden;
  justify-content: space-around;
  padding: 0 50px;
}

.head-art-1{
  /* width: 50%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.main-text{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.second-text{
  font-size: 25px;
  font-weight: bold;
  color: #ef5466;
  margin: 10px 10px 15px 0;
}


header a{
  border-radius: 50px;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 25px;
  font-size: 16px;
}

.deezer-premium{
  border: 1px solid transparent;
  color: #fff;
  background-color: #ef5466;
}

.deezer-free{
  border: 2px solid #4a4a4a;
  color: #4a4a4a;
  margin-left: 15px;
}

.header-a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* main */

/* deezer description */


.sec-deezer-description{
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.article-mobile{
  /* justify-content: flex-end; */
  margin: 20px 0 0 150px;
}

.article-des{
  margin: 0 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
}

.topic-des{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #32323d;
}

.article-des article{
  width: 45%;
  margin: 20px 0;
  text-align: left;
}

.semi-topic-des{
  color: #32323d;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}


/* section everyday */
.sec-everyday{
  height: 180px;
  background-color: #ef5466;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.everyday-svg{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.svg-img{
  margin-left: 20px;
}

.everyday-des{
  width: 50%;
}

.everyday-topic{
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 0px 0 26px;
}

.everyday-des p{
  color: #f9f9f9;
  padding-right: 75px;
}

/* everyday end */

/* profit deezer */

.sec-profit h2{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 120px 40px 40px;
}

.profit-banners{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.banner{
  width: 250px;
  height: 550px;
  background-color: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 0 10px 3px rgb(183, 182, 182);
}

.banners-info {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banners-topic{
  font-weight: bold;
  font-size: 24px;
  margin-top: 60px ;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.premium{
  background-color: #2d96c8;
  margin: 0 10px;
  box-shadow: none;
  color: white;
}

.banners-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: -100px;
}



/* .premium::before{
  content: attr("slkdfhj");
  padding: -50px;
} */
/* add  banners info icons with before */

.banners-price{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 20px;
}

.banners-price::after{
  content: "/mois";
  margin-top: 24px;
  margin-left: -46px;
  color: black;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
}

.premium .banners-price::after{
  color: white;
}

p.banners-offer-notice{
  font-size: 10px;
  text-align: center;
  padding: 20px 200px;
}

.profit-banners .checked::before{
  content: "✓";
  position: absolute;
  margin-left: -18px;
}

.banners-info .crossed::before{
  content: "✘";
  position: absolute;
  margin-left: -18px;
}

.banners-profit{
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #ef5466;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
}

.free-banner .free{
  background-color: #f0ececc1;
}

.banners-plus-premium{
  padding: 20px 40px;
  color: white;
  font-weight: bold;
}

.banners-plus-blue{
  padding: 20px 40px;
  color: #2d96c8;
  font-weight: bold;
}

/* profit deezer end */

/* announces */

article.announces{
  background-color: #f0ececc1;
  margin-top: 10px;
  padding: 25px 150px 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announces-topics{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.announces-text{
  font-size: 18px;
}

.red-text{
  color: red;
}

.a-announces{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 40px;
}

.annuel-plus{
  color: #2d96c8;
  font-size: 12px;
  font-weight: bold;
}
/* .announces-container{
  display: flex;
  justify-content: space-between;
} */




/* announces end */



/* footer */
footer{
  background-color: black;
  padding-bottom: 30px;
}

.sec-application{
  display: flex;
  justify-content: center;
}

.google-play{
  margin-top: 33px;
}

.sec-footer-main{
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.sec-footer-main a{
  color: #f9f9f9;
  margin-bottom: 15px;
}

.deezer-f, .explorer-f, .who-f, .legal-f{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a.f-topics{
  color: #57555f;
  margin-bottom: 20px;
}

.sec-last-f{
  display: flex;
  justify-content: center;
  margin: 80px 50px 100px;
  align-items: center;
}

article.deezer{
  width: 50%;
  text-align: center;
}
article.social{
  width: 20%;
}

article.copyrights{
  width: 20%;
}

.copyrights{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyrights select{
  background-color: transparent;
  color: #f9f9f9;
  border: none;
  padding-left: 5px;
}

.copyrights a{
  text-decoration: none;
  color: #57555f;
}

.social a{
  margin: 15px;
}

.social{
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* responsive */

@media(max-width:768px){

  nav{
    position: relative;
    justify-content: center;
  }

  .nav-links{
    display: none;
  }

  .burger{
    display: block;
    position: absolute;
    height: 20px;
    top: calc(50% - 15px);
    right: 15px;
  }

  header{
    padding-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header-a{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-a a{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .head-art-2 img{
    height: 600px;
  }
  .head-art-2{
    height: 350px;
    overflow: hidden;
  }

  .sec-deezer-description{
    height: fit-content;
    padding: 20px 0;
  }


  .article-mobile{
    display: none;
  }

  .article-des{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .article-des article{
    margin: 0;
    padding: 10px 0 0;
  }

  .semi-topic-des{
    margin: 0;
    padding: 10px 0;
  }

  .sec-everyday{
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 10px;
    height: auto;
  }

  .everyday-svg{
    padding: 0 10px 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
  }

  .everyday-des{
    width: auto;
    padding: 10px;
    text-align: center;
  }

  .everyday-des p{
    padding: 0 0 10px;
  }

  .profit-banners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


  p.announces-text{
    display: none;
  }

  article.announces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  p.banners-offer-notice{
    padding: 10px;
  }


  footer{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .sec-footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
  }

  article.sec-footer-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sec-last-f{
    display: flex;
    flex-direction: column;
    margin: 80px 10px 100px;
    gap: 60px;
  }

  article.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}